# EDA, Preprocessing

Craigslist is the world's largest collection of used vehicles for sale, yet it's very difficult to collect all of them in the same place. I built a scraper for a school project and expanded upon it later to create this dataset which includes every used vehicle entry within the United States on Craigslist

Source: https://www.kaggle.com/austinreese/craigslist-carstrucks-data

## Data Dictionary


**id** - id for the listing

**price** - price for the used car

**year** - entry year

**manufacturer** - manufacturer of the vehicle

**model** - model of vehicle

**condition** - condition of vehicle

**cylinders** - number of cylinders

**fuel** - fuel type

**odometer** - miles traveled by vehicle

**title_status** - title status of vehicle

**transmission** - transmission of vehicle (automatic, manual, ...)

**size** - size of vehicle 

**state** - state of listing

## Questions:

### 1. Read the data file and present summary statistics, datatype per column and NA status for each column.

In [150]:
# the datasets (import.chec. whatever are above) #
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

FILE = "/Users/axel/Desktop/venv/vehicles.csv"

plt.rcParams["figure.figsize"] = (13, 7)

data = pd.read_csv(FILE, nrows=10000)

data.tail()

data.info()
    # datatype, non-null count per column
    
data.describe()
    # for each int/double datatype, returning mean, SD, min value, 25% percentile, etc...

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 26 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            10000 non-null  int64
 1   url           10000 non-null  object
 2   region        10000 non-null  object
 3   region_url    10000 non-null  object
 4   price         10000 non-null  int64
 5   year          9887 non-null   float64
 6   manufacturer  9517 non-null   object
 7   model         9871 non-null   object
 8   condition     5347 non-null   object
 9   cylinders     6713 non-null   object
 10  fuel          9878 non-null   object
 11  odometer      9942 non-null   float64
 12  title_status  9753 non-null   object
 13  transmission  9917 non-null   object
 14  VIN           6881 non-null   object
 15  drive         7101 non-null   object
 16  size          2600 non-null   object
 17  type          8149 non-null   object
 18  paint_color   7984 non-null   object
 19  image_url     9973 non-null   object
 20  description   9973 non-null   object
 21  county        0 non-null      float64
 22  state         10000 non-null  object
 23  lat           9928 non-null   float64
 24  long          9928 non-null   float64
 25  posting_date  9973 non-null   object
dtypes: float64(5), int64(2), object(19)
memory usage: 2.0+ MB

,id,price,year,odometer,county,lat,long
count,1.000000e+04,1.000000e+04,9887.000000,9.942000e+03,0.0,9928.000000,9928.000000
mean,7.309865e+09,1.303030e+05,2011.938910,1.059445e+05,NaN,43.332321,-111.367014
std,6.548738e+06,9.926715e+06,9.978193,4.597180e+05,NaN,13.354179,29.041804
min,7.208550e+09,0.000000e+00,1903.000000,0.000000e+00,NaN,-81.838232,-158.599600
25%,7.306471e+09,9.995000e+03,2010.000000,2.771575e+04,NaN,33.465300,-149.847206
50%,7.310599e+09,2.000000e+04,2015.000000,6.750000e+04,NaN,34.768443,-88.105874
75%,7.314113e+09,2.999500e+04,2018.000000,1.234560e+05,NaN,61.161670,-86.653907
max,7.316894e+09,9.876543e+08,2022.000000,1.000000e+07,NaN,64.993698,173.885502

### 2. Perform data integrity checks as needed

In [151]:
data.duplicated().sum()
    #checking for duplicates..

0

3. Define all the Nominal, Ordinal, and numerical features in a markdown cell. 

  
**If all of the values in a column are unique / almost unique, include them under the "Index" category**

In [ ]:
# nominal = naming[ed] things
# ordinal = describe named qualities of things
        # unsure


### 4. Take care of NA values (if any). Specify the business logic behind your choice.

**Hint:** Look at the rows as well

In [161]:
# data.isnull().sum()

data = data.dropna(subset=['size', 'county', 'id', 'VIN', 'lat', 'long', 'url', 'region_url'], axis=1, inplace= True)
    #dropping these columns because they contain too many nulls & are least  relevant to model

        
   # the remaining columns (year, manufacturer, model, etc.) with null values replaced with "Unknown/0" bc relevant to model
        # nonsensical to replace with mean, median, subsequent column/row value
data["year"].fillna("Unkown", inplace = True)
data["manufacturer"].fillna("Unknown", inplace = True)
data["model"].fillna("Unknown", inplace = True)
data["condition"].fillna("Unkown", inplace = True)
data["cylinders"].fillna("Unkown", inplace = True)
data["fuel"].fillna("Unkown", inplace = True)
data["odometer"].fillna("Unkown", inplace = True)
data["title_status"].fillna("Unkown", inplace = True)
data["transmission"].fillna("Unkown", inplace = True)
data["drive"].fillna("Unkown", inplace = True)
data["type"].fillna("Unkown", inplace = True)
data["paint_color"].fillna("Unkown", inplace = True)
data["image_url"].fillna("Unkown", inplace = True)
data["posting_date"].fillna("Unkown", inplace = True)
data["paint_color"].fillna("Unkown", inplace = True)
data["description"].fillna("Unkown", inplace = True)

data.isnull().sum()

    #dropping all rows containing more than 1 null value
data = data[data.isnull().sum(axis=1) < 1]

AttributeError: 'NoneType' object has no attribute 'dropna'

### 5. Take care of outliers (if any). Specify the business logic behind your choice.

In [148]:
data.describe()



def remove_outlier_IQR(data):
    Q1 = data.quantile(0.25)
    Q3 = data.quantile(0.75)
    IQR = Q3 - Q1
    data_final=data[~((data<(Q1-1.5*IQR)) | (data>(Q3+1.5*IQR)))]
    return data_final
        #created a remove outliers function using the interquartile range


data_outlier_removed=remove_outlier_IQR(data.year)
data_outlier_removed=remove_outlier_IQR(data.id)
data_outlier_removed=remove_outlier_IQR(data.price)
data_outlier_removed=remove_outlier_IQR(data.odometer)
data_outlier_removed=remove_outlier_IQR(data.lat)
data_outlier_removed=remove_outlier_IQR(data.long)
        # function repeats for each numerical value (year, price, id, etc..)
data_outlier_removed=pd.DataFrame(data_outlier_removed)
ind_diff=data.index.difference(data_outlier_removed.index)

for i in range(0, len(ind_diff),1):
    data_final=data.drop([ind_diff[i]])
    data=data_final

        id  price  year  odometer  county  lat  long
count  0.0    0.0   0.0       0.0     0.0  0.0   0.0
mean   NaN    NaN   NaN       NaN     NaN  NaN   NaN
std    NaN    NaN   NaN       NaN     NaN  NaN   NaN
min    NaN    NaN   NaN       NaN     NaN  NaN   NaN
25%    NaN    NaN   NaN       NaN     NaN  NaN   NaN
50%    NaN    NaN   NaN       NaN     NaN  NaN   NaN
75%    NaN    NaN   NaN       NaN     NaN  NaN   NaN
max    NaN    NaN   NaN       NaN     NaN  NaN   NaN

### 6. Generate a correlation matrix and plot a heat map of it. What can you say about the correlations?

In [164]:
import seaborn as sb

df = pd.DataFrame(data)
corrM = df.corr()
corrM

print(data.corr())
      
dataplot = sb.heatmap(data.corr(), cmap="YlGnBu", annot=True)
       # plot map
mp.show()
        # display map

AttributeError: 'NoneType' object has no attribute 'corrM'

### BONUS: If you were to prepare this data for a data science model - explain the business logic for the following:

1. Which model you would select
2. Which task you would achieve
3. Which features you would select
4. Which variables would be independent and dependent

In [ ]:
# Polynomail regression model

In [ ]:
# business model should be able to succesfully predict with reasonable accuracy the estimated price of a used car based on this dataset

In [ ]:
# fuel, year, odometer, drive, price, condition

In [ ]:
# IVs: fuel, year, odometer, drive, condition
# DV: predicted price of used car